#table1 {
}

.cell{
    width: 100px;
    height: 22px;
    border: 1px solid #d9d9d9;
    position: absolute;
}

.x-axis{
    width:100px;
    height: 22px;
    background: #d9d9d9;
    position: absolute;
    border: 1px solid #000000;
    text-align: center;
}

.y-axis{
    width:50px;
    height: 22px;
    background: #d9d9d9;
    position: absolute;
    border: 1px solid #000000;
    text-align: center;
}

#button-bar {
    position: absolute;
    width: 100%;
    background-color: #53A57D;
    height: 40px;
    top: 0px;
    left: 0px;
}

.table-title-bar{
    position: relative;
    height: 15px;
    background-color: #000088;
}

.drag { position: relative; }

.button {
}

#add-button{
    background-color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    line-height: 30px;
    color: #000000;
}

#add-button:hover{
    background-color: #D5D5D5;
}

.dialogue {

    position: absolute;
    left: 30%;
    right:30%;
    top: 25%;
    bottom:25%;

    z-index: 1000;

    background: white;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.50);
    height: 400px;
}

.dialogue-header {
    background-color: #00897b;
    height: 50px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.50);
}

.dialogue-title-text {
    line-height: 50px;
    font-size: xx-large;
    text-shadow: 1px 1px black;
}

.dialogue-content {
    padding: 50px;
    color: #000000;
    font-size: x-large;
    height: 200px;
}

.dialogue ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    float: left;
}

.dialogue li{
    margin-bottom: 40px;
    text-align: left;
    text-shadow: 0 1px 1px #fff;
}

.dialogue label input{
    float: right;
}

.dialogue-footer {
    background-color: #00897b;
    height: 50px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.50);
}

.dialogue-button{
    height: 30px;
    background-color: #ffffff;
    margin: 10px 10px 0 0;
    line-height: 30px;
    text-align: center;
    color: #000000;
    padding: 0 7px 0 7px;
    float: right;
}